/* Same as jpHolo.css, except for 
anchors instead of images */
a.footerIconLeft {
	height: 2.85em;
	width: 19%;
	border: 0;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
a.footerIconRight {
	height: 2.85em;
	width: 19%;
	border: 0;
	position: relative;
	float: right;
	margin: 0;
	padding: 0;
}
a.footerIconCenter {
	height: 2.85em;
	width: 19%;
	position: relative;
 	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h4 { color: #0099CC; } //rgba(00, 153, 204, 0.8)

